index.yaml
*.pyc

.idea/.name

.idea/workspace.xml

.idea/vcs.xml

.idea/testrunner.xml

.idea/dictionaries/linkerlin.xml

.idea/encodings.xml

.idea/libraries/Google_App_Engine_SDK.xml

.idea/misc.xml

.idea/modules.xml

.idea/nijipress.iml

.idea/other.xml

.idea/scopes/scope_settings.xml
