textarea, input[type='text'], input[type='password'] {
  background-color: #eee;
  color: #777;
  padding: 3px;
  border-radius: 2px;
  border: inset 1px;
}

textarea:focus, input[type='text']:focus, input[type='password']:focus {
  background-color: #e8e8e8;
  color: #445;
}

button, input[type='submit'] {
  background-color: #eee;
  color: #666;
  padding: 3px;
  border-radius: 2px;
  border: outset 1px;
}

button:hover, input[type='submit']:hover {
  text-decoration: none;
  background-color: white;
  color: #222;
  cursor: pointer;
}

button:active, input[type='submit']:active {
  border: inset 1px;
}
