* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaf5;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  color: #584848;
}
tt, code {
  font-family: Monospace, Inconsolata, 'Courier New';
}

a[href] {
  color: #2970a6;
  font-size: 0.9em;
  padding: 0 2px;
}
a[href]:hover {
  border-radius: 2px;
  text-decoration: none;
  background-color: #2970a6;
  color: #efefb7;
}
a[href]:active {
  border: 1px solid #2970a6;
  border-radius: 2px;
  text-decoration: none;
  padding: 0 2px;
  color: #2970a6;
  background-color: inherit;
}
a[href].imglink:hover {
  background-color: inherit;
}
a[href].imglink:active {
  border: inherit;
  padding: 0 2px;
}

#fixtop {
  width: 100%;
  top: 0;
  left: 0;
  height: 32px;
  position: fixed;
  background-color: #def;
  border-bottom: 1px dashed #2970a6;
  font-size: 24px;
}
#menumarginer {
  margin-top: 32px;
}
.menu {
  margin: 4px 6px;
  padding: 0 6px;
  border-radius: 4px;
  float: left;
  display: inline;
  text-decoration: underline;
  font-size: 0.7em;
  cursor: pointer;
}
.menu:hover {
  color: black;
  text-decoration: none;
}
.menu ul {
  display: none;
  list-style-type: none;
  background-color: #dff;
  border-radius: 4px;
  cursor: auto;
}
.menu li {
  padding: 8px;
}
.menu:hover ul {
  display: block;
  position: absolute;
}
.menu:hover li {
  padding-top: 1px;
  font-size: 0.60em;
}
.access {
  float: right;
  display: inline;
}

#top {
  color: #9eb28f;
  height: 128px;
  text-align: center;
}
#top h1 {
  font-size: 3.6em;
  padding-top: 16px;
  letter-spacing: 8px;
  text-shadow: 1px 2px #143853;
}
#top a {
  text-decoration: none;
}

.date {
  color: #866;
  font-size: 0.9em;
}
.post_date {
  margin-left: 18px;
  margin-bottom: 16px;
}

.post_content {
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 6px;
}

.tags {
  font-size: 0.7em;
}
.tags i {
  color: #555;
}

.action_button {
  font-weight: bolder;
  font-size: 0.8em;
  padding: 5px;
  color: #333;
  background-color: #aad;
  border: 1px outset;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}
.action_button:hover {
  color: #343;
  background-color: #aae;
}
.action_button:active {
  border: 1px inset;
  color: black;
}

.page_foot td {
  font-size: 12px;
  text-align: center;
}

.ntitalic {
  color: #433;
}
.ntstrong {
  color: #400;
}
.ntblockcode .ntstrong {
  border-bottom: 1px dotted #400;
}
.ntinlinecode {
  background-color: #dde;
  padding: 2px;
  font-size: 92%;
  border-radius: 3px;
  color: #421;
}

.nth1 {
  color: #864;
}
.nth2 {
  color: #975;
}
.nth3 {
  color: #a86;
}
.ntul {
  list-style-type: circle;
  margin-left: 24px;
}

.ntaa {
  padding: 4px;
  line-height: 95%;
  white-space: pre;
  font-size: 84%;
  border-radius: 4px;
  background-color: #dadaea;
  color: #332;
  margin: 2px 0;
}

.ntblockcode {
  padding: 4px;
  border: solid 1px;
  background-color: #dadaea;
  border-radius: 4px;
  font-size: 84%;
  color: #332;
  margin: 2px 0;
}

.nttable {
  border-collapse: collapse;
  border-spacing: 0px 0px;
}

.nttd {
  border: 1px solid #228;
  padding: 4px;
}
