.post_title {
  font-weight: bolder;
  font-size: 2.2em;
  color: #a73;
}

.comments_hint {
  font-weight: bolder;
  color: #311;
  font-size: 1.6em;
}

.comment_head {
  margin-left: 6px;
}
.comment_head b {
  color: #222;
}
.comment_head i {
  color: #345;
}
.comment_content {
  margin-left: 6px;
  color: #555;
}
.comment td {
  border-bottom: 1px dotted;
  padding-bottom: 4px;
}
tr.comment:last-child td {
  border-bottom: none;
  padding-bottom: 0;
}
