.post_title {
  color: #343;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 0px;
  background-color: #EEE;
  border-radius: 4px;
}
.post_title a[href] {
  color: inherit;
  margin-left: 10px;
}
.post_title a[href]:hover {
  text-decoration: none;
  color: #565;
  background-color: inherit;
}

.post_foot {
  font-weight: bolder;
  font-size: 0.8em;
}
.post_foot a[href] {
  padding: 5px;
  color: #333;
  background-color: #eda;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}
.post_foot a[href]:hover {
  color: #565;
  background-color: #feb;
}
.post_foot a[href]:active {
  color: black;
}
