.post_arena {
  width: 960px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 12px 20px;
}

.post_cell {
  width: 720px;
  vertical-align: top;
}

.tags_cell {
  vertical-align: top;
}

.post_title {
  color: #343;
  font-size: 2em;
  margin-bottom: 4px;
  background-color: #eee;
  border-radius: 4px;
}
.post_title a[href] {
  color: inherit;
  margin-left: 10px;
}
.post_title a[href]:hover {
  text-decoration: none;
  color: #565;
  background-color: inherit;
}
.post_title .ntinlinecode {
  color: inherit;
  background-color: inherit;
}
