.post_title {
  font-size: 2em;
  margin-bottom: 0px;
  background-color: #EEE;
  border-radius: 4px;
}
.post_title a {
  color: #304030;
  margin-left: 10px;
}
.post_title a:hover {
  text-decoration: none;
}

.post_foot {
  font-weight: bolder;
  font-size: 0.8em;
}
.post_foot a {
  padding: 5px;
  color: #2B2B2B;
  background-color: #E4D3A6;
  border-radius: 3px;
  text-decoration: none;
}
.post_foot a:hover {
  color: #506050;
  background-color: #F4E3B6;
}

.paging {
  text-align: center;
}
