* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  color: #aaa;
}
tt, code {
  font-family: Monospace, Inconsolata, 'Courier New';
}
a[href] {
  color: #dec;
  font-size: 0.9em;
  padding: 1px 3px;
}
a[href]:hover {
  background-color: #dec;
  border-radius: 2px;
  color: black;
  text-decoration: none;
}
a[href]:active {
  border: 1px solid #dec;
  border-radius: 2px;
  text-decoration: none;
  padding: 0 2px;
  color: #dec;
  background-color: inherit;
}
a[href].imglink:hover {
  background-color: inherit;
}
a[href].imglink:active {
  border: inherit;
  padding: 1px 3px;
}
hr {
  margin: 4px;
}

#fixtop {
  width: 100%;
  top: 0;
  left: 0;
  height: 32px;
  position: fixed;
  background-color: black;
  border-bottom: 1px dashed #dec;
  font-size: 24px;
  color: #dec;
}
#menumarginer {
  margin-top: 32px;
}
.menu {
  margin: 4px 6px;
  padding: 0 6px;
  border-radius: 4px;
  float: left;
  display: inline;
  text-decoration: underline;
  font-size: 0.8em;
  cursor: pointer;
}
.menu:hover {
  color: white;
  text-decoration: none;
}
.menu ul {
  display: none;
  list-style-type: none;
  background-color: black;
  border-radius: 4px;
  cursor: auto;
}
.menu li {
  padding: 8px;
}
.menu:hover ul {
  display: block;
  position: absolute;
}
.menu:hover li {
  padding-top: 1px;
  font-size: 0.75em;
}
.access {
  float: right;
  display: inline;
}

#top {
  color: #cdb;
  height: 128px;
  text-align: center;
}
#top h1 {
  font-size: 3.6em;
  padding-top: 24px;
  letter-spacing: 7px;
  text-shadow: 1px 2px gray;
}
#top a {
  text-decoration: none;
}

.date {
  color: #666;
  font-size: 0.9em;
}
.post_date {
  margin-left: 18px;
  margin-bottom: 16px;
}

.post_content {
  margin-left: 20px;
  margin-bottom: 6px;
  padding-bottom: 4px;
}

.action_button {
  font-weight: bolder;
  font-size: 0.8em;
  padding: 5px;
  color: #333;
  background-color: #eda;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}
.action_button:hover {
  color: #565;
  background-color: #feb;
}
.action_button:active {
  color: black;
}

.nth1 {
  margin-left: -10px;
  margin-bottom: 12px;
  margin-top: 4px;
  color: #eee;
}
.nth2 {
  margin-left: -8px;
  margin-bottom: 8px;
  margin-top: 4px;
  color: #ddd;
}
.nth3 {
  margin-left: -6px;
  margin-bottom: 6px;
  margin-top: 4px;
  color: #ccc;
}
.ntitalic {
  color: #ddd;
}
.ntstrong {
  color: #fe4;
}
.ntblockcode .ntstrong {
  border-bottom: 1px dotted #fe4;
}
.ntinlinecode {
  background-color: #222;
  padding: 2px;
  font-size: 92%;
  border-radius: 3px;
  color: #ccc;
}
.ntul {
  margin: 0.5em;
  list-style-type: circle;
  margin-left: 24px;
}
.ntaa {
  margin: 0.5em 0;
  padding: 4px;
  line-height: 95%;
  white-space: pre;
  font-size: 84%;
  border-radius: 4px;
  background-color: #222;
  color: #eee;
}
.ntblockcode {
  margin: 0.5em 0;
  padding: 4px;
  border: solid 1px;
  background-color: black;
  border-radius: 4px;
  line-height: 131%;
  font-size: 84%;
  color: #ddd;
}
.nttable {
  margin: 0.5em 0;
  border-collapse: collapse;
  border-spacing: 0;
}
.nttd {
  border: 1px solid gray;
  padding: 4px;
}

.tags {
  margin: 8px 0;
  font-size: 0.7em;
}
.tags i {
  color: #bbb;
}

.page_foot td {
  font-size: 12px;
  text-align: center;
}
