body {
  background-color: #1A1A1A;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  color: #A1A1A1;
}
tt, code {
  font-family: Monospace, Inconsolata, 'Courier New';
}

#top {
  color: #C5DEB3;
  height: 128px;
  text-align: center;
}
#top h1 {
  font-size: 3.6em;
  padding-top: 24px;
  letter-spacing: 7px;
  text-shadow: 1px 2px gray;
}
#top a {
  color: #C5DEB3;
  text-decoration: none;
}

.date {
  color: #666;
  font-size: 0.9em;
}
.post_date {
  margin-left: 18px;
  margin-bottom: 16px;
}

.post_content {
  margin-left: 10px;
  margin-bottom: 10px;
}

.tags {
  font-size: 0.7em;
}
.tags a {
  color: #C5DEB3;
}
.tags a:hover {
  background-color: #C5DEB3;
  color: black;
  text-decoration: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.tags i {
  color: #B0B0B0
}

.right_col a {
  color: #C5DEB3;
}
.right_col a:hover {
  background-color: #C5DEB3;
  color: black;
  text-decoration: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.div_header {
  color: #E4D3A6;
}

.page_foot td {
  font-size: 12px;
  text-align: center;
}
.foot_lnk a {
  color: #C5DEB3;
  padding-left: 2px;
  padding-right: 2px;
}
.foot_lnk a:hover {
  background-color: #C5DEB3;
  color: black;
  text-decoration: none;
  border-radius: 2px;
}

.post_content .ntitalic {
  color: #D0D0D0;
}
.post_content .ntstrong {
  color: #FFE040;
}
.post_content .ntinlinecode {
  background-color: #2B2B2B;
  padding: 2px;
  font-size: 92%;
  border-radius: 3px;
  color: #CCC;
}

.nth1 {
  color: #C8C8C8;
}
.nth2 {
  color: #C0C8B8;
}
.nth3 {
  color: #B0B8A8;
}
.ntul {
  list-style-type: circle;
}

.ntaa {
  padding: 4px;
  line-height: 95%;
  white-space: pre;
  font-size: 84%;
  border-radius: 4px;
  background-color: #2B2B2B;
  color: #EEE;
}

.ntblockcode {
  padding: 4px;
  line-height: 95%;
  border: solid 1px;
  background-color: #2B2B2B;
  border-radius: 4px;
  font-size: 84%;
  color: #D8D8D8;
}

.nttable {
  border-collapse: collapse;
  border-spacing: 0px 0px;
}

.nttd {
  border: 1px solid gray;
  padding: 4px;
}

.ntlink {
  color: #D5EEC3;
  font-size: 0.9em;
}
.ntlink:hover {
  background-color: #D5EEC3;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  color: black;
  text-decoration: none;
}
