.paging {
  margin: 16px 0;
  text-align: center;
}

.paging b {
  padding-left: 2px;
  padding-right: 2px;
  color: #555;
  background-color: #ddd;
  border-radius: 3px;
}
.paging span {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #eee;
  background-color: #222;
  border-radius: 3px;
  border: solid 1px;
}
.paging a[href] {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #555;
  background-color: #ddd;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bolder;
}
.paging a[href]:hover {
  color: #222;
  background-color: #eee;
}
.paging a[href]:active {
  color: #eee;
  background-color: #222;
}
