.paging {
  text-align: center;
}

.paging b {
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  background-color: #88A;
  border-radius: 3px;
}
.paging span {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #2B2B2B;
  background-color: #EEE;
  border-radius: 3px;
}
.paging a {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  background-color: #88A;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bolder;
}
.paging a:hover {
  color: #2B2B2B;
  background-color: #EEE;
}
