.paging {
  margin: 16px 0;
  text-align: center;
}

.paging b {
  padding-left: 2px;
  padding-right: 2px;
  color: #555;
  background-color: #DDD;
  border-radius: 3px;
}
.paging span {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #EEE;
  background-color: #2B2B2B;
  border-radius: 3px;
  border: solid 1px;
}
.paging a {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #555;
  background-color: #DDD;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bolder;
}
.paging a:hover {
  color: #2B2B2B;
  background-color: #EEE;
}
