.post_title {
  font-weight: bolder;
  font-size: 2.2em;
  color: #E4D3A6;
}

.comments_hint {
  font-weight: bolder;
  color: #D0D0D0;
  font-size=1.6em;
}

.comment a {
  color: #C5DEB3;
}
.comment a:hover {
  background-color: #C5DEB3;
  color: black;
  text-decoration: none;
}
.comment {
  background-color: #2B2B2B;
  border-radius: 3px;
}

.comment_head {
  margin-left: 6px;
}
.comment_head b {
  color: #E0E0E0;
}
.comment_head i {
  color: #B0B0B0;
}

.comment_content {
  margin-left: 6px;
  color: #A1A1A1;
}
