.post_title {
  font-weight: bolder;
  font-size: 2.2em;
  color: #E4D3A6;
}

.comments_hint {
  font-weight: bolder;
  color: #D0D0D0;
  font-size=1.6em;
}

.comment td.text {
  background-color: #2B2B2B;
  border-radius: 4px;
}

.comment_head {
  margin-top: 6px;
  margin-left: 6px;
}
.comment_head b {
  color: #eee;
}
.comment_head i {
  color: #bbb;
}

.comment_content {
  margin-top: 12px;
  margin-left: 12px;
  color: #aaa;
}
