{% extends './base.html' %}

{% block title %}Forbidden - {{ conf.title }}{% endblock %}

{% block body %}
<pre style='color: red;'><tt><b>Mission failed with code 403</b>
                                           _   __   _
                                       ___/ `-'  `-' `---.__
                                  _.--'                     }
                                 /                         /
                                /                         {_
              /|               |                            `---._
            _/ |               |                                  `--.
            \   \              |                                      \_
             `.  \             |                                        \
               `. `.           ;                                         `.
                 `. `.        /                                            \_
                   `. `.____.'                                               )
                     `.                                                    ,'
                       `.                                              ___/
     ________            `.                               ,._   _  ___/
     |__||__|  /  ---'   | `.                             \  `-' `'
     |__||__| /|  ,'   --+/  `.                            `--.
     | \  / |  | '-/  ___/__   `.                              `-.
     | ---- |  |  '-\   /__      `.                               `.
     |---/--|  |  ,|.  /|__|       `.                               }
     |  /\  |  | / | \  |__|         `.                             \
                                       `.                            \
                                     |   `.                          |
                        |    |   /__ |     `.                         \
                        | \  |  /  / |\      `.                        |
                        |  \ |   \/  | \       `.                      \
                        |/  /.   /   |           `.                     \
                           /  \ '    |             `.                   |
           -.        _          __|___|__      ,.    `.                 |
        ___\ \__    (_\          /|\ /|\       ||      `.                \
       '------.,'     \\        ' | / | '   ,. ||__      `.               |
         ,    ||      /.\        -------    || ||--'       `.             }
         \\  //      // \\     ----------   || ||            `.          /
          `'//     ,'/   \`...    / | \     || ||              `.       /
       <=========> \/     `../   ' .|  `  <=========>            `.     \
                                                                   `.    |
                                                                     `.  |
                                                                       `.|</tt></pre>
{% endblock %}
