<!DOCTYPE html>
<html>
<head>
<title>{{ conf.title }}</title>
{% include 'page_meta.htmlt' %}
<link rel='stylesheet' type='text/css' href='/static/{{ conf.style }}/index.css'>
<link rel='stylesheet' type='text/css' href='/static/{{ conf.style }}/paging.css'>
{% include 'analytics.htmlt' %}
</head>
<body>
{% include 'page_head.htmlt' %}
<div style='vertical-align: middle; width: 960px; margin-left: auto; margin-right: auto;'>
<div style='float: left; width: 640px;'>

{% for post in posts %}
<p class='post_title'><a href='/?p={{ post.pid }}'>{{ post.title }}</a></p>
<p class='date post_date'>Posted at {{ post.date|date:"D, d M Y H:i:s" }}</p>
<div class='post_content'>{{ post.preview }}</div>
<span class='post_foot'><a href='/?p={{ post.pid }}'>Read full text &gt;&gt;&gt;</a></span>
<div style='float: right;'>
<span class='post_foot'><a href='/?p={{ post.pid }}#leavecomment'>Leave a comment</a></span>
</div>
{% include 'print_tags.htmlt' %}
{% endfor %}

{% if paging_on %}
<p class='paging'>
{% for i in page_count %}
{% ifequal i current_page %}
<span>Page <b>{{ current_page }}</b></span>
{% else %}
{% if query_tag %}
<a href='?tag={{ query_tag }}&page={{ i }}'>{{ i }}</a>
{% else %}
<a href='?page={{ i }}'>{{ i }}</a>
{% endif %}
{% endifequal %}
{% endfor %}
</p>
{% endif %}
</div>

<div style='padding-top: 40px; margin-left: 720px;'>
<div class='right_col'>
<p class='div_header'>Tags</p>
<p class='tags'>
{% for tag in tags %}
<a href='/?tag={{ tag.name|urlencode }}' style='font-size: {{ tag.rate }}pt'>{{ tag.name|escape }}</a>
{% endfor %}
</p>
<hr>
<p class='div_header'>Blogrolls</p>
<a href='http://bitfoc.us/'>Bit Focus Home</a><br/>
<a href='http://abitno.me/'>A Bit? No!!!</a><br>
<a href='https://www.deleak.com/'>delectate&#039;s Home Page</a><br>
<a href='http://blog.crackcell.com/'>if 0 {</a><br>
<a href='http://linluxiang.info/'>LinLuxiang</a><br>
<a href='http://blog.liuw.name/'>Liuw&#039;s Thinkpad</a><br>
<a href='http://smallarcher.com'>Small Archer</a><br>
<p>
<a href='/about'>About this site</a>
</p>
</div>
<hr>
<p class='div_header'>Follow me...</p>
<a href='{{ conf.rss_uri }}'><img width=48px height=48px src='http://upload.wikimedia.org/wikipedia/en/4/43/Feed-icon.svg'/></a>
</div>
</div>
{% include 'page_foot.htmlt' %}
