{% extends './admin_base.html' %}

{% block title %}Posts{% endblock %}

{% block head_extra %}
<link rel='stylesheet' type='text/css' href='/static/{{ conf.style }}/paging.css'>
{% endblock %}

{% block body %}
<table class='admin_list stdlnk'>
{% for post in posts %}
<tr>
<td><a href='/?p={{ post.pid }}'>{{ post.pid }}</a></td>
<td>{{ post.title|safe }}</td>
<td><tt>{{ post.date|strftime('%b %d %Y - %H:%M:%S') }}</tt></td>
<td><a href='/c/edit?id={{ post.pid }}'>Edit</a></td>
</tr>
{% endfor %}
</table>

<p class='paging'>
{% for i in page_count %}
{% if i == current_page %}
<span>Page <b>{{ current_page }}</b></span>
{% else %}
<a href='?page={{ i }}'>{{ i }}</a>
{% endif %}
{% endfor %}
</p>
{% endblock %}
