{% extends './admin_base.html' %}

{% block title %}Login{% endblock %}

{% block head_extra %}
<link rel='stylesheet' type='text/css' href='/static/{{ conf.style }}/input.css'>
<script>
function submit() {
    NJPress.request('/json/login', {
        name: $('#name').val(),
        passwd_origin: $('#passwd').val(),
    }, function(r) {
        ({
            fail: function() {
                $('#hint').text('Invalid password');
            },
            ok: function() {
                window.location = '/';
            },
        })[r.result]();
    });
}
</script>
{% endblock %}

{% block body %}
<h1>Login</h1>
<p style='color: red;' id='hint'></p>
<table>
  <tr><td>Name:</td><td><input type='text' id='name'></td></tr>
  <tr><td>Password:</td><td><input type='password' id='passwd'></td></tr>
  <tr><td><input type='submit' onclick='submit()'></td></tr>
</table>
{% endblock %}
