<html>
<head>
<title>Message</title>
{% include 'page_meta.htmlt' %}
<meta http-equiv='refresh' content='5; url=/?p={{ id }}' />
</head>
<body>
{{ message }}
Browser will jump back to the post in 5 seconds. Or you might
<div class='stdlnk'>
    <p>
        <a href='/?p={{ id }}'>Back to the post immediately</a><br/>
        <a href='/'>Go home</a><br/>
    </p>
    <p>Go wandering</p>
        {% for post in posts %}
        <a href='/?p={{ post.pid }}'>{{ post.title }}</a><br/>
        {% endfor %}
    </p>
</div>
{% include 'page_foot.htmlt' %}
