{% extends './base.html' %}

{% block title %}Requested Content Not Found - {{ conf.title }}{% endblock %}

{% block body %}
<pre style='color: red;'><tt><b>Mission failed with code 404</b>
                                           _   __   _
                                       ___/ `-'  `-' `---.__
                                  _.--'                     }
                                 /                         /
                                /                         {_
              /|               |                            `---._
            _/ |               |                                  `--.
            \   \              |                                      \_
             `.  \             |                                        \
               `. `.           ;                                         `.
                 `. `.        /                                            \_
                   `. `.____.'                                               )
                     `.                                                    ,'
                       `.                                              ___/
          .         ___  `.                               ,._   _  ___/
    |  ___|__   _|_ |  |   `.                             \  `-' `'
    |   __|__  __|_ | \|     `.                            `--.
    | ____|___  \ / |___       `.                              `-.
   /|.  ,---.   _V_ |   |        `.                               `.
  ' | ` |___|    |  |\ /           `.                               }
    |   |   |  --|- | X              `.                             \
    |   |---|    |  |' \               `.                            \
        '   '       '   `                `.                          |
     ,.         .     ,           .        `.                         \
   __||___      |    / \          |          `.                        |
  '--..---'  ___|__ /___\     |   |   |        `.                      \
 ____||____    ,| .'__|__`.   |___|___|          `.                     \
'----,.----'  / |\ |  |  |        |                `.                   |
   /)||\.    /  | `'--|--'        |                  `.                 |
  // || \`..    |    ,^.     |    |    |               `.                \
 ;'  ||  `/     |   /   \    |    |    |                 `.               |
     `'         '  '     `-  `---------'                   `.             }
                                                             `.          /
                                                               `.       /
                                                                 `.     \
                                                                   `.    |
                                                                     `.  |
                                                                       `.|</tt></pre>
{% endblock %}
