<html>
<head>
<title>Register</title>
{% include 'page_meta.htmlt' %}
<link rel='stylesheet' type='text/css' href='/static/{{ conf.style }}/input.css'>
{% include 'inc_scripts.html' %}
<script>
function submit() {
    NJPress.request('/json/register', {
        name: $('#name').val(),
        passwd_origin: $('#passwd').val(),
    }, function(r) {
        ({
            fail: function() {
                if (r.reason == 'existed') {
                    $('#hint').text('User already existent');
                } else {
                    $('#hint').text('Name or password shall be at least 6 characters');
                }
            },
            ok: function() {
                window.location = '/';
            },
        })[r.result]();
    });
}
</script>
</head>
<body>
{% include 'topmenu.html' %}
<h1>Register new user</h1>
<p style='color: red;' id='hint'></p>
<table>
  <tr><td>Name:</td><td><input type='text' id='name'></td></tr>
  <tr><td>Password:</td><td><input type='password' id='passwd'></td></tr>
  <tr><td><input type='submit' onclick='submit()'></td></tr>
</form>
