<html>
<head>
<title>
Site Configuration
</title>
{% include 'page_meta.htmlt' %}
</head>
<body>
<form action='/c/savesiteconf' method='post'>
<table>
<tr>
  <td>Title</td>
  <td><input type='text' name='title' value='{{ conf.title|escape }}' size='40'></td>
</tr>
<tr>
  <td>Style</td>
  <td><input type='text' name='style' value='{{ conf.style|escape }}' size='40'></td>
</tr>
<tr>
  <td>RSS URI</td>
  <td><input type='text' name='rss_uri' value='{{ conf.rss_uri|escape }}' size='40'></td>
</tr>
<tr>
  <td>RSS Description</td>
  <td><input type='text' name='rss_description' value='{{ conf.rss_description|escape }}' size='40'></td>
</tr>
<tr>
  <td>Google Analytics Code<br/><sub>Leave blank if not use Google Analytics</sub></td>
  <td><input type='text' name='analytics_code' value='{{ conf.analytics_code|escape }}' size='40'></td>
</tr>
<tr>
  <td>Google Analytics Domain</td>
  <td><input type='text' name='analytics_domain' value='{{ conf.analytics_domain|escape }}' size='40'></td>
</tr>
<tr><td><input type='submit'></td></tr>
</form>
