<div id='top-menu'>
    <label class='menu'>
        <input type='checkbox'>
        <span>Navigate</span>
        <ul>
            <li><a href='/'>Home</a></li>
            <li id='topmenu_tags' style='max-width: 600px;'>
                <i id='loading-tags'>Loading tags...</i>
            </li>
        </ul>
    </label>
    <label class='menu'>
        <input type='checkbox'>
        <span>Blogrolls</span>
        <ul>
            {% for r in conf.blogrolls() %}
            <li><a href='{{ r.uri }}'>{{ r.text|escape }}</a></li>
            {% endfor %}
        </ul>
    </label>
    <label class='menu'>
        <input type='checkbox'>
        <span>Styles</span>
        <ul>
            <li><a href='javascript:NJPress.replaceStyle("midnight")'>Midnight</a></li>
            <li><a href='javascript:NJPress.replaceStyle("rainbow")'>Rainbow</a></li>
        </ul>
    </label>
    <label class='menu'>
        <input type='checkbox'>  
        <span id='recent_posts'>Recent Posts</span>
        <ul id='recent-posts-list'>
            <li id='loading-posts'><i>Loading tags...</i></li>
        </ul>
    </label>
    {% include 'admin_bar.html' %}
    <div class='access'>
        <a class='imglink' href='/about'>
            <img width='32' height='32' alt='About' src='http://images.wikia.com/gardener/images/a/af/Question_mark.png'>
        </a>
    </div>
    <div class='access'>
        <a class='imglink' href='{{ conf.rss_uri }}'>
            <img width='32' height='32' alt='RSS' src='http://upload.wikimedia.org/wikipedia/en/4/43/Feed-icon.svg'>
        </a>
    </div>
</div>
<div id='menumarginer'></div>
